<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DisplayHacker.com - @ViewBag.Title</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3631003-4"></script>
    <script src="@Url.Content("~/js/jquery-3.6.0.min.js")"></script>
    @RenderSection("scripts", false)
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/Site.css")" />
    @RenderSection("styles", false)
</head>
    <body>
        <div id="top-nav-list-container">
            <ul>
                <li>@Html.ActionLink("Home", "Index", new { }, new { id = "nav-link-home" })</li>
                <li>@Html.ActionLink("About", "About", new { }, new { id = "nav-link-about" })</li>
                <li>@Html.ActionLink("Contact", "Contact", new { }, new { id = "nav-link-contact" })</li>
            </ul>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - DisplayHacker.com</p>
            </footer>
        </div>
    </body>
</html>